body {
	margin: 0;
	paddin: 0;
	font-family:helvetica, sans-serif;
	background:#fff url('turkey-armenia-border.jpg') fixed;
	background-position:center top;
}

.emaside {
	display:block;
	margin:10% -20%;
	width:140%;
	font-family:courier;
	font-style:italic;
	text-align:center;
	clear:both;
	font-size:180%;
}

.story {
	position:absolute;
	top:10%;
	width:400px;
	padding:20px 100px;
	margin: 0;
	display:inline-block;
}

.story1 {
}

.story2 {
	left:1200px;
}

.story3 {
	left:1800px;
}

.story4 {
	left:2400px;
	
}

.story5 {
	left:3400px;
}


.story6 {
	left:4000px;
}

.story7 {
	left:4600px;
	padding-right:20%;
}

.story p {
	line-height:1.5;
	display:inline-block;
}

.illus {
	position:absolute;
	height:400px;
	width:400px;
	bottom:0;
	z-index:-5;
	padding:0 0px;
	opacity:.5;
}
.illus1 {
	/*background:#fff url('turkey-armenia-border-3.jpg');*/
	left:600px;
	height:100%;
	width:600px;
	
}

.illus2 {
	left:3000px;
	/*background:#fff url('turkey-harran-1.jpg');*/
	height:100%;
	
}

.illus3 {
	background:#aa3;
	display:none;
}